<div class="container">
<h2><%= @order.customer.last_name %><%= @order.customer.first_name %>さんの注文履歴</h2>

<div class="row">
     <div class="col-md-8 offset-md-1">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>購入者</th>
                        <th>注文日</th>
                        <th>配送先</th>
                        <th>支払方法</th>
                    </tr>
                </thead>
            <tbody>
                <tr>
                    <td><%= @order.name %></td>
                    <td><%= @order.created_at.strftime("%Y-%m-%d %H:%M") %></td>
                    <td><%= @order.postal_code %> <%= @order.address %></td>
                    <td><%= @order.payment_i18n %></td>
                </tr>    
            </tbody>
            </table>
        </div>            
    </div>                
<div class="row">
     <div class="col-md-8 offset-md-1">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>商品名</th>
                        <th>単価(税込み)</th>
                        <th>数量</th>
                        <th>小計</th>
                    </tr>
                </thead>
            <tbody>
                <% @order_lists.each do |order_list| %>
                <tr>
                    <td><%= order_list.item.name %></td>
                    <td><%= order_list.add_tax_ordered_price %></td>
                    <td><%= order_list.amount %></td>
                    <td><%= order_list.subtotal %></td>
                </tr>
                <% end %>
            </tbody>
            </table>
        </div>
        </div>
    <div class="row">
    <div class="col-md-3 offset-md-1">
        <table class="table table-bordered">
                <tr><th>商品合計</th>
                <td><%= @order.total_payment %></td></tr>
                <tr><th>送料</th>
                <td>800</td></tr>
                <tr><th>請求金額合計</th>
                <td><%= @order.total_payment + @order.postage %></td></tr>
                
        </table>    
</div>
</div>
</div>
